app:
    zipFileUrl: 'https://leidata.gleif.org/api/v1/concatenated-files/rr/20210930/zip'
    tmpDir: ${java.io.tmpdir}
    timeoutInMinutes: 1

spring:
    profiles:
        active: dev
    jpa:
        hibernate:
            ddl-auto: validate
server:
    servlet:
        context-path: /api
springdoc:
    api-docs:
        path: /doc
    swagger-ui:
        path: /doc/ui

---
spring:
    config:
        activate:
            on-profile: dev
    data:
        mongodb:
            database: data_relations
            host: localhost
            password: data_relations@
            port: 27017
            username: data_relations
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/data_relations
        username: data_relations
        password: data_relations@
    rabbitmq:
        addresses: localhost:5672
        password: guest
        username: guest

---
spring:
    config:
        activate:
            on-profile: docker
    data:
        mongodb:
            database: data_relations
            host: ${MONGO_CONTAINER_NAME}
            password: ${MONGO_PASSWORD}
            port: 27017
            username: ${MONGO_USER}
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://${POSTGRE_CONTAINER_NAME}:5432/${POSTGRE_DB_NAME}
        username: ${POSTGRE_USER}
        password: ${POSTGRE_PASSWORD}
    rabbitmq:
        addresses: ${RABBIT_CONTAINER_NAME}:5672
        password: guest
        username: guest
